.parent{
  display:flex;
  flex-direction:row;
  justify-content:center;
}
.child{
  border:2px solid #ddd;
  padding:2%;
  margin:2%;
  box-shadow:3px 3px 3px #ddd;
  border-color:blue;
  text-align: center;
  }

img{
  width:200px;
  border-radius:50%;
  border:2px solid #ddd;
  display block;
  border-color: pink;
}
h2,
h3,
a{
  display :block;
  text-align: center;
  text-decoration: none;
  background-color: white;
  text-decoration: none;
}
.leftchild{
  width: 30%;
  border:2px solid blue;
  padding:2%;
  margin:2%;
  text-align: center;
}
.rightchild{
  width:70%;
  border:2px solid blue;
  padding:2%;
  margin:2%;
}
mail{
  text-decoration: none;
  font-size:
}
/* @media only screen and (min-width:320px) and (max-width:480px){
  .parent{
    display:flex;
    flex-direction:column;
    justify-content:center;
  }

  .child{
    border:2px solid #ddd;
    padding:2%;
    margin:2%;
    box-shadow:3px 3px 3px #ddd;
    border-color:blue;
    text-align: center;
    }

  img{
    width:200px;
    border-radius:50%;
    border:2px solid #ddd;
    display:block;
    border-color: pink;
  }
  h2,
  h3,
  a{
    display :block;
    text-align: center;
    text-decoration: none;
    background-color: white;
    text-decoration: none;
  }
  .leftchild{
    width: 80%;
    border:2px solid blue;
    padding:2%;
    margin:2%;
    text-align: center;
  }
  .rightchild{
    width:70%;
    border:2px solid blue;
    padding:2%;
    margin:2%;
  }
  mail{
    text-decoration: none;
    font-size:
}
@media only screen and (min-width:481px) and (max-width:798px){
  .parent{
    display:flex;
    flex-direction:row;
    justify-content:center;
    width: 100;
  }

  .child{
    border:2px solid #ddd;
    padding:2%;
    margin:2%;
    box-shadow:3px 3px 3px #ddd;
    border-color:blue;
    text-align: center;
    }

  img{
    width:100px;
    border-radius:50%;
    border:2px solid #ddd;
    display block;
    border-color: pink;
  }
  h2,
  h3,
  a{
    display :block;
    text-align: center;
    text-decoration: none;
    background-color: white;
    text-decoration: none;
  }
  .leftchild{
    width: 50%;
    border:2px solid blue;
    padding:2%;
    margin:2%;
    text-align: center;
  }
  .rightchild{
    width:50%;
    border:2px solid blue;
    padding:2%;
    margin:2%;
  }
  mail{
    text-decoration: none;
    font-size:
} */
/* Small screen mobile devices */
@media only screen and (min-width:320px) and (max-width:480px){
  .parent{
    display:flex;
    flex-direction:column;
    justify-content:center;
  }
  .leftchild{
    width: 92%;
    border:2px solid blue;
    padding:2%;
    margin:2%;
    text-align: center;
  }
  .rightchild{
    width:92%;
    border:2px solid blue;
    padding:2%;
    margin:2%;
  }
}
/* Large screen mobile devices */
@media only screen and (min-width:481px) and (max-width:768px){
  .parent{
    display:flex;
    flex-direction:row;
    justify-content:center;
  }
  .leftchild{
    width: 92%;
    border:2px solid pink;
    padding:2%;
    margin:2%;
    text-align: center;
  }
  .rightchild{
    width:92%;
    border:2px solid pink;
    padding:2%;
    margin:2%;
  }
}

/* Tablets */
@media only screen and (min-width:769px) and (max-width:1024px){

}
